.single-product {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 600px;
}

.single-product .btn {
  height: 65px;
}

.single-product img {
  cursor: pointer;
}

.single-product img.current {
  border: 5px solid #3f51b5;
}

.single-product .single-product-image {
  justify-content: flex-end;
}

.single-product .single-product-image-current img {
  width: 100%;
  height: 100%;
}

.single-product-details h2 {
  font-size: 2rem;
  line-height: 40px;
  margin: 0;
}

.single-product-details .single-product-details-price > h4 {
  font-size: 2.5rem;
  color: #3f51b5;
}

.single-product-details .single-product-details-price del,
.single-product-details .single-product-details-price del h4 {
  font-size: 1.3rem;
  color: #3f51b5;
}
.single-product-image-list img {
  width: 100px;
}

.single-product-image-list {
  overflow-y: auto;
}

@media screen and (max-width: 900px) {
  .single-product {
    flex-direction: column-reverse;
  }
  .single-product .single-product-image {
    justify-content: center;
  }
  .single-product .single-product-image {
    flex-direction: column;
  }
  .single-product-image-list {
    flex-direction: row;
  }
  .single-product-image-list img {
    width: 50px;
  }
  .single-product-details .single-product-details-price {
    justify-content: center;
  }
  .single-product {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .single-product .single-product-image .single-product-image-current img {
    width: 100%;
  }
}
